.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    height: 350px;
    width: 350px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: all 1s ease-out;
}

.box:hover {
    transition: all 1s ease-in;
    transform: scale(1.5);
}

.box::before {
    display: flex;
    justify-content: center;
    content: '♥';
    color: white;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 1px;
    right: 0px;
    background-color: red;
    border-radius: 50%;
    visibility: hidden;
}

.box:hover::before {
    visibility: visible;
}

.box1 { background-color: palevioletred;}
.box2 { background-color: lightpink;}
.box3 { background-color: rgb(247, 211, 216);}
.box4 { background-color: powderblue;}
.box5 { background-color: turquoise;}
.box6 { background-color: darkcyan;}
.box7 { background-color: purple;}
.box8 { background-color: plum;}
.box9 { background-color: lavender;}